[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
agno = "*"
packaging = "*"
openai = "*"
sqlalchemy = "*"
mistralai = "*"
requests = "*"
pytz = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
resend = "*"
uvicorn = "*"
pgvector = "*"
unstructured = "*"
markdown = "*"
psycopg = {extras = ["binary"], version = "*"}
pyairtable = "*"
googlesearch-python = "*"
pycountry = "*"
fastapi = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.12"
